<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="5">

    <properties>
        <property name="LOG_HOME">d:/log</property>
    </properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <File name="trace" fileName="${LOG_HOME}/trace.log" append="false">
        <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </File>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="console"/>
            <AppenderRef ref="trace"/>
        </Root>
    </Loggers>

</Configuration>
